name: Build Windows EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pygame pillow
        if (Test-Path requirements.txt) { pip install -r requirements.txt }

    - name: Build EXE with PyInstaller
      run: |
        # --add-data "images;images" копирует папку images внутрь exe для Windows
        python -m PyInstaller --onefile --windowed --add-data "images;images" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-app-exe
        path: dist/*.exe